* {
    margin: 0;
    padding: 0;
}

.video-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(36, 35, 35, 0.726); 
}

.video-container div {
    background-color:#D3D3D3;;
    backdrop-filter: blur(100%); 
    border-radius: 20px;
    padding: 2px;
    flex: 1 1 50%;
    margin: 10px;
    text-align: center;
}

.video-container video {
    margin: 1px;
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    box-shadow: 0px 4px 8px rgba(207, 153, 6, 0.351);
    border-radius: 20px; 
}



/* Responsive ayarlamalar */
@media (min-width: 768px) {
    .video-container {
        width: 100%; 
        margin: auto; 
    }
}
